/* TODO: Use SCSS */
@font-face {
    font-family: 'Sanchez-Regular';
    src: url('../fonts/Sanchez-Regular.ttf');
}
@font-face {
    font-family: 'SulphurPoint-Regular';
    src: url('../fonts/SulphurPoint-Regular.ttf');
}
body {
    height: 100vh;
    color: #fff;
    background-color: #000;

}
body > #__nuxt,
body #__layout {
    height: 100%;
}
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1A1110;
}